@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-height {
  height: calc(100vh - 76px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}